<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>927914519223-kfij5mofu3ffugmdrigk880oa560ura3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.927914519223-kfij5mofu3ffugmdrigk880oa560ura3</string>
	<key>API_KEY</key>
	<string>AIzaSyD2Nimc0jM5CyVFPyamE8VBUH0ZWd_NixM</string>
	<key>GCM_SENDER_ID</key>
	<string>927914519223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.startcode.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>angular-7bc79</string>
	<key>STORAGE_BUCKET</key>
	<string>angular-7bc79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927914519223:ios:cfed2f626e09d618ee7b32</string>
	<key>DATABASE_URL</key>
	<string>https://angular-7bc79.firebaseio.com</string>
</dict>
</plist>